@page "/register"
<h3>Register</h3>
<label>User Id: </label>
<input type="text" @bind="userId" />
<br />
<label>Password: </label>
<input type="password" @bind="password" />
<br />
<label>Retype Password: </label>
<input type="password" @bind="retypePassword" />
<br />
<p style="color: red">@ErrorMessage</p>
<button class="btn btn-primary" @onclick="RegisterAsync">Login</button>
